<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-bc-victor-micomponente">
    <template>
    <style include="shared-styles">
      :host {
          display:inline-block;

        }
    </style>
    <div><span> Pulsa para conocer los ultimos post</span></div>
    <!--      <div><span>[[saludo]]     Peticiones Hoy:    [[contador]]</span></div> -->
          <div><button type="button" name="btnObtenerPosts" onclick="obtenerPostsUltimos(1);">Obtener Ultimos Posts </button></div>
          <div><span><br><b>[[h11texto]]</b></br></span></div>
          <div><span>[[h12texto]]</span></div>
          <div><span><br><b>[[h21texto]]</b></br></span></div>
          <div><span>[[h22texto]]</span></div>
          <div><span><br><b>[[h31texto]]</b></br></span></div>
          <div><span>[[h32texto]]</span></div>
          <div><span><br><b>[[h41texto]]</b></br></span></div>
          <div><span>[[h42texto]]</span></div>
          <div><span><br><b>[[h51texto]]</b></br></span></div>
          <div><span>[[h52texto]]</span></div>
          <a href="https://bitbucket.org/victoraguilarmoreno/polymerproyectremotevam/src/daf7d3f312d9f155d8cc55a603fc808beee0ba50/src/my-bc-victor-micomponente.html?at=master&fileviewer=file-view-default" target=_blank>Source</>
      <div><button type="button" name="btnObtenerPosts" onclick="obtenerPosts();">1 2 3 4 5 ...</button></div>

  </template>

  <!-- Global Site Tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-79715878-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments)};
      gtag('js', new Date());

      gtag('config', 'UA-79715878-1');
    </script>
    <script>
      class BcVictorMiComponente extends Polymer.Element {
        static get is() { return 'my-bc-victor-micomponente'; }

        static get properties() {
          return {
            page: {
              type: String,
              reflectToAttribute: true,
              observer: '_pageChanged',
            },
            rootPattern: String,
            routeData: Object,
            subroute: String,
          };
        }

        static get observers() {
          return [
            '_routePageChanged(routeData.page)',
          ];
        }

      constructor() {
          super();
          // Get root pattern for app-route, for more info about `rootPath` see:
          // https://www.polymer-project.org/2.0/docs/upgrade#urls-in-templates
          this.rootPattern = (new URL(this.rootPath)).pathname;
          obtenerPosts();
      }

       obtenerPosts(){
          var response;
          // la de angel rayo mi api key 50c5ea68e4b0a97d668bc84a
          /// declaramos la url con la que trabajamos o la de aoi key fQJ18loW9DbBacFeit4xr1biROFiTxel de vistot , en mlab pinchado en user
          const URL = "https://api.mlab.com/api/1/databases/bootcamp/collections/posts?apiKey=fQJ18loW9DbBacFeit4xr1biROFiTxel";

          ////var = 'mongodb://<dbuser>:<dbpassword>@ds013664.mlab.com:13664/bootcamp'
        //declaramos la peticion , eto sirve par ahacer la peticion a la url y necesito (ya que es asincrona)ç
        // que quiero que haga cuando traiga los datos , tercerparametro false forma sincrono
          var peticion = new XMLHttpRequest();
         peticion.open("GET",URL,false);
         //quiero que me traigas en formato json, si se puede
         peticion.setRequestHeader("Content-Type","application/json");
         peticion.send();

         response = JSON.parse(peticion.responseText);
         // para que cuando tenga un id concreto
         sessionStorage["posts"]=peticion.responseText;
          console.log(response);

      };
   };  // fin de clase
        Polymer({
            is: 'my-bc-victor-micomponente',
            properties: {
                saludo: String,
                contador: Number,
                h11texto: String,
                h12texto: String,
                h21texto: String,
                h22texto: String,
                h31texto: String,
                h32texto: String,
                h41texto: String,
                h42texto: String,
                h51texto: String,
                h52texto: String,
                listado: {
                  type: Array,
                  notify: true
                }
            },
            listeners: {
                'tap': 'incrementar'
            },
            incrementar: function() {
              var posts=JSON.parse(sessionStorage["posts"]);
              this.h11texto  ='¡' + posts[0].titulo + '!';
              this.h12texto  =posts[0].descripcion;
              this.h21texto  ='¡' + posts[1].titulo+ '!';
              this.h22texto  =posts[1].descripcion;
              this.h31texto  ='¡' + posts[2].titulo+ '!';
              this.h32texto  =posts[2].descripcion;
              this.h41texto  ='¡' + posts[1].titulo+ '!';
              this.h42texto  =posts[1].descripcion;
              this.h51texto  ='¡' + posts[2].titulo+ '!';
              this.h52texto  =posts[2].descripcion;
            //    this.listado.push({"titulo":"XXXXXXX", "texto":"yyyyy"});
            //    this.notifyPath('listado');
              this.contador = this.contador + 1;
            }
        });


    </script>
      <script>
      function obtenerPostsUltimos(indicePost){
       // la de angel rayo mi api key 50c5ea68e4b0a97d668bc84a
       /// declaramos la url con la que trabajamos o la de aoi key fQJ18loW9DbBacFeit4xr1biROFiTxel de vistot , en mlab pinchado en user
       const URL = "https://api.mlab.com/api/1/databases/bootcamp/collections/posts?apiKey=fQJ18loW9DbBacFeit4xr1biROFiTxel";

     //var = 'mongodb://<dbuser>:<dbpassword>@ds013664.mlab.com:13664/bootcamp'
     //declaramos la peticion , eto sirve par ahacer la peticion a la url y necesito (ya que es asincrona)ç
     // que quiero que haga cuando traiga los datos , tercerparametro false forma sincrono
       var peticion = new XMLHttpRequest();
      peticion.open("GET",URL,false);
      //quiero que me traigas en formato json, si se puede
      peticion.setRequestHeader("Content-Type","application/json");
      peticion.send();

      response = JSON.parse(peticion.responseText);

      //console.log(response[indicePost]._id.$oid);
      // para que cuando tenga un id concreto
      sessionStorage["posts"]=peticion.responseText;
      console.log(response);
           var posts=JSON.parse(sessionStorage["posts"]);
           this.h11texto  =posts[1].titulo;
           this.h12texto  =posts[1].texto;
           console.log(posts[2].titulo);

        };
    </script>
</dom-module>
