<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-view2">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 5px;
      }
    </style>
    <div class="card">
      Escribe tu post y pulsa añadir
    </div>
    <div>
      Nombre
      <input type="text" name="textoNombre" value="Amigo" />
      <br></br>
      Apellido
      <input type="text" name="textoApellido" value="Bloquero" />
      <br></br>
      Titulo
      <input type="text" name="textoTitulo" value="¿qué estás pensado?"/>
      <br></br>
      Post
      <br></br>
      <textarea name="textoDescripcion" rows="5" cols="120">Dinos unas palabras para el mundo</textarea>
    </div>
    <div><button type="button" name="btnGrabarPost" onclick="anadirPosts();">Añadir post al blog</button></div>
  </template>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments)};
    gtag('js', new Date());

    gtag('config', 'UA-79715878-1');
  </script>
  <script>
    class MyView2 extends Polymer.Element {
      static get is() { return 'my-view2'; }
    };
    window.customElements.define(MyView2.is, MyView2);
    </script>
    <script>
      function anadirPosts(tituloPs){
          /// declaramos la url con la que trabajamos o la de aoi key fQJ18loW9DbBacFeit4xr1biROFiTxel de vistot , en mlab pinchado en user
          const URL = "https://api.mlab.com/api/1/databases/bootcamp/collections/posts?apiKey=fQJ18loW9DbBacFeit4xr1biROFiTxel";
          var peticion = new XMLHttpRequest();
          var stNombre = document.getElementsByName("textoNombre")[0].value;
          var stApellido = document.getElementsByName("textoApellido")[0].value;
          var stTitulo = document.getElementsByName("textoTitulo")[0].value;
          var stDescipcion = document.getElementsByName("textoDescripcion")[0].value;
          var dtFecAlta = new Date();
          var lnLongitud = document.getElementsByName("textoDescripcion")[0].value.length;
          var JsonMongo = '{"titulo":"'+stTitulo+'","descripcion":"'+stDescipcion+'","autor":{"nombre":"'+stNombre+'", "apellido":"'+stApellido+'"},"fecalta":"'+dtFecAlta.toISOString().substr(0,10)+'","longitud":'+lnLongitud+'}';
          //var JsonMongo = '{"titulo":"'+stTitulo+'","descripcion":"'+stDescipcion+'","autor":{"nombre":"'+stNombre+'", "apellido":"'+stApellido+'"},"fecalta":"'+dtFecAlta.getFullYear()+'-'+(dtFecAlta.getMonth()+1)+'-'+ dtFecAlta.getDate()+'","longitud":'+lnLongitud+'}';
      console.log(JsonMongo);

          peticion.open("POST",URL,true);
          peticion.setRequestHeader("Content-Type","application/json");
          peticion.send(JsonMongo);
          console.log(URL + JsonMongo);
      }
    </script>
</dom-module>
