<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-view1">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 8px;
      }
    </style>
    <img src="./../images/bootcamp.png" alt="Bootcamp post" style="width:1042px;height:122px;border:0;">
    <div class="card">
      <h1>Login</h1>
      <p>Dinos Quien eres.</p>
      <p></p>
      <div>
        Usuario
        <input type="text" name="textoUsuario" value="User" />
        <br></br>
        Password
        <input type="text" name="textoContrasenya" value="******" />
        <button type="button" name="btnLoginEntrar" onclick="recuperarUser();">Identificarse</button></br>
        <br></br>
        Para registrarte rellena los demas campos
        <br>Repita</br>
        Password
        <input type="text" name="textoContrasenya2" value="******" />
        <br></br>
        Nombre
        <input type="text" name="textoNombre" value="mi nombre" />
        <br></br>
        Apellidos
        <input type="text" name="textoApellidos" value="mis apellidos" />
        <br></br>
        Email
        <input type="text" name="textoEmail" value="yo@contexto.es" />
        <button type="button" name="btnLoginRegistar" onclick="anadirUser();">Registrar</button>
    </div>

  </template>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments)};
    gtag('js', new Date());

    gtag('config', 'UA-79715878-1');
  </script>
  <script>
    class MyView1 extends Polymer.Element {
      static get is() { return 'my-view1'; }
    }

    window.customElements.define(MyView1.is, MyView1);

    function anadirUser(tituloPs){
        /// declaramos la url con la que trabajamos o la de aoi key fQJ18loW9DbBacFeit4xr1biROFiTxel de vistot , en mlab pinchado en user

        var peticion = new XMLHttpRequest();

        var peticion = new XMLHttpRequest();
        var strUsuario = document.getElementsByName("textoUsuario")[0].value;
        var strContrasenya = document.getElementsByName("textoContrasenya")[0].value;
        var strNombre = document.getElementsByName("textoNombre")[0].value;
        var strApellido = document.getElementsByName("textoApellidos")[0].value;
        var strEmail = document.getElementsByName("textoEmail")[0].value;
        var dtFecAlta = new Date();
        var strUsuario = document.getElementsByName("textoUsuario")[0].value;
        var strContrasenya = document.getElementsByName("textoContrasenya")[0].value;
        var JsonPostgres = '{"nombre":"'+strNombre+'","email":"'+strEmail+'","apellidos":"'+strApellido+'","ultimaConex":"'+dtFecAlta.toISOString().substr(0,10)+'","usuario":"'+strUsuario+'","contrasenya":"'+strContrasenya+'"}';


        var url  = "http://restapi-blogpol12.7e14.starter-us-west-2.openshiftapps.com/usuarios_victor" + "?" +JsonPostgres ;
        console.log(url);
        peticion.open("POST", url, true);
        peticion.setRequestHeader("Content-Type", "application/json");
        peticion.setRequestHeader("Accept", "application/vnd.pgrst.object+json");
        peticion.setRequestHeader("Access-Control-Allow-Origin", "*");
        peticion.setRequestHeader("Authorization", "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoidmljdG9yIn0.FqaQdh4RbheOOBAkBkQIIkRVToohQth-AtypzjgEMcA");
        peticion.send();
        var response = peticion.getResponseHeader("Content-Range");

        var valores = JSON.parse(peticion.responseText);
        console.log(valores);
        console.log(peticion);
        if(peticion.status === 200) {
           recuperarUser();
             // aqui iria tu código si el registro es correcto
             //se guarda en sesion para que quede logado , cuando cierre piede el logon
             this.textoContrasenya2 = "usuario registrado";
             //sessionStorage["usuarioDatos"]=peticion.responseText;
             //console.log(response);
              //    globalLogado  = True ;
              //    globalUsuario  =  usuarioDatos[0].usuario
              //    globalNombreApellidos = usuarioDatos[0].nombre +usuarioDatos[0].apellidos ;
              //    console.log(usuarioDatos[0].nombre);
                }
             else{
               this.textoContrasenya2 = "no se dio el alta";
             }
    }
    function recuperarUser(){
      var peticion = new XMLHttpRequest();
      var strUsuario = document.getElementsByName("textoUsuario")[0].value;
      var strContrasenya = document.getElementsByName("textoContrasenya")[0].value;

      var url = URL = "http://restapi-blogpol12.7e14.starter-us-west-2.openshiftapps.com/usuarios_victor" + "?select=usuario,email,nombre,apellidos&&usuario=eq." + strUsuario + "&&contrasenya=eq." + strContrasenya;
      console.log(url);
      peticion.open("GET", url, false);
      peticion.setRequestHeader("Content-Type", "application/json");
      peticion.setRequestHeader("Accept", "application/vnd.pgrst.object+json");
      peticion.setRequestHeader("Access-Control-Allow-Origin", "*");
      peticion.setRequestHeader("Authorization", "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoidmljdG9yIn0.FqaQdh4RbheOOBAkBkQIIkRVToohQth-AtypzjgEMcA");
      peticion.send();

      var resposta = peticion.getResponseHeader("Content-Range");

      var valores = JSON.parse(peticion.responseText);
      console.log(valores);
      console.log(peticion);
      if(peticion.status === 200) {
           // aqui iria tu código si el login es correcto
           //se guarda en sesion para que quede logado , cuando cierre piede el logon

           sessionStorage["usuarioDatos"]=peticion.responseText;
           console.log(response);
           if( usuarioDatos[0].usuario === null){
                var usuarioDatos=JSON.parse(sessionStorage["usuarioDatos"]);
                globalLogado  = True ;
                globalUsuario  =  usuarioDatos[0].usuario
                globalNombreApellidos = usuarioDatos[0].nombre +usuarioDatos[0].apellidos ;
                console.log(usuarioDatos[0].nombre);
              }
           else{
             this.textoContrasenya = "usuario o pass incorrecto";
           }

      }
    }
    </script>

</dom-module>
